body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  text-align: center;
}

.playable {
    cursor: pointer;
}

.container {
  width: max-content;
  overflow: hidden;
  margin: 0 auto;
}

.board {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

span, input {
  display: block;
  text-align: center;
  font-size: 40px;
  margin: 20px auto 40px auto;
  color: white;
}

.box > img {
  height: 100%;
  width: 100%;
  /* border-radius: 0.5rem; */
}

.loser {
    opacity: 0.5;
}

input {
  background-color: gray;
  border-radius: 2rem;
  padding: .3rem 2rem;
}

body > span {
  margin-top: 7vh;
}

.game-over {
  border-radius: 0;
}

#gameOverDiv {
  margin: 0 auto;
  padding: .2rem;
  background-color: #333333dd;
  border-radius: 0 0 1rem 1rem;
  width: 450px;
}

#title { 
  background-color: #333333dd;
  width: 456px;
  margin-bottom: 0;
  border-radius: 1rem 1rem 0 0;
  padding: .75rem 0;
}

#turn {
  background-color: #333333dd;
  width: 456px;
  margin-top: 0;
  border-radius: 0 0 1rem 1rem;
  padding: .75rem 0;
}